amqp==1.4.9
anyjson==0.3.3
argh==0.26.2
billiard==3.3.0.23
boto==2.40.0
celery==3.1.23
colorama==0.3.7
dj-database-url==0.4.1
Django==1.10b1
django-celery==3.1.17
docopt==0.6.2
kombu==3.0.35
pathtools==0.1.2
psycopg2==2.6.1
py==1.4.31
pytest==2.9.2
pytest-django==2.9.1
pytest-watch==4.1.0
pytz==2016.4
PyYAML==3.11
watchdog==0.8.3
